@charset "utf-8";

#jenkins-home-icon {
  background-image: url(Mozilla_Logo.png);
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}


#main-table {
  background-image: url(FxOS.png);
}

