* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 2em auto;
    padding: 0 0.5em;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.buttons-wrapper {
    text-align: center;
}

#video {
    display: block;
    width: 100%;
}

.buttons {
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding: 0.5em;
    display: inline-block;
    margin: 1em auto;
}